root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 100
tab_width = 2
trim_trailing_whitespace = true

[*.{ts,js,cjs,mjs}]
max_line_length = 120

[*.{json,jsonc}]
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.{yaml,yml}]
indent_size = 2

[{package.json,deno.json,tsconfig.json,biome.json}]
indent_size = 2
