name: Lint JSON

on:
  workflow_call:
  push:
    branches: [main]
    paths:
      - "**.json"
  pull_request:
    branches: [main]
    paths:
      - "**.json"

concurrency:
  group: lint-json-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint-json:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Lint json files
        run: |
          sudo apt install -y jsonlint

          find ./ -type f -name "*.json" -exec sh -c '
            for file do
              if ! jsonlint-php -q "$file"; then
                echo "❌ $file"
                export FAILED=1
              else
                echo "✅ $file"
              fi
            done
            if [ "${FAILED}" = "1" ]; then
              exit 1
            fi
          ' sh {} +
