name: Lint Markdown

on:
  workflow_call:
  push:
    branches: [main]
    paths:
      - "**.md"
      - ".markdownlint.yaml"
  pull_request:
    branches: [main]
    paths:
      - "**.md"
      - ".markdownlint.yaml"

concurrency:
  group: lint-markdown-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint-markdown:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Lint markdown files
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: "**/*.md"
